@tailwind base;
@tailwind components;

/* custom CSS component class go here  */
@import "components/journal-entry.css";

@tailwind utilities;

:root {
  --animate-in: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.15s;
  --animate-delayed: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.45s;
  --dark-bg-color: #121317;
  --dark-card-color: #1a1c23;
}

.home-container {
  padding: 18vmin 4vmax 0vmax;
}

.min-h-screen-webkit {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.h-screen-webkit {
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
}

.prose code {
  @apply rounded;
  @apply font-medium;
  padding: 2px 4px;
}

.prose code::before,
.prose code::after {
  content: "";
}

@screen light {
  .prose code {
    @apply bg-gray-300;
  }
}

/* custom CSS utilities go here */
@screen dark {
  body {
    background-color: var(--dark-bg-color);
  }

  .prose p,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose code,
  .prose strong,
  .prose ul,
  .prose li {
    @apply text-gray-200;
  }

  .prose a {
    @apply text-indigo-400;
  }

  .prose code {
    @apply bg-gray-800;
  }
}
